/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Sarabun", sans-serif; }

*:focus {
    outline: none;
}

:root {
    --primary-color: #2224AD;
}

.container {
    padding-bottom: 70px;
}

