<div class="container"> 
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-10">
            <h1 class="watchlist-header">My Portfolio</h1>
            <div class="container mt-5 d-flex justify-content-center" *ngIf="isLoading">
                <mat-spinner diameter="40"></mat-spinner>
            </div>
            <div class="container mt-4" *ngIf="!isLoading">
                <h3 class="text-thicker mb-2 fw-semibold">Money in Wallet: ${{ currentMoney | number:'1.2-2' }}</h3>
                <div class="row" *ngFor="let stock of portfolioStocks; let i=index">
                    <div class="card mt-5 fw-semibold">
                        <div class="card-header">
                            <!-- <div class="row">
                                <div id="ticker" class="mx-2 my-1">{{stock.ticker}}</div>
                        <div id="name" class="text-muted my-1">{{stock.stockName}}</div>
                            </div> -->
                            <div class="d-flex align-items-center">
                                <div id="ticker" class="mx-2 fs-5 fw-semibold">{{stock.ticker}}</div>
                                <div id="name" class="text-muted">{{stock.stockName}}</div>
                              </div>
                        
                        </div>
                        <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-6 ">Quantity:</div>
                                    <div class="col-6"><div class="float-right">{{stock.quantity.toFixed(2)}}</div></div>
                                </div>
                                <div class="row">
                                    <div class="col-6 ">Avg. Cost / Share:</div>
                                    <div class="col-6"><div class="float-right">{{stock.avgcost.toFixed(2)}}</div></div>
                                </div>
                                <div class="row">
                                    <div class="col-6 ">Total Cost:</div>
                                    <div class="col-6"><div class="float-right">{{stock.cost.toFixed(2)}}</div></div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div *ngIf="stock.change == 0">
                                    <div class="row">
                                        <div class="col-6 ">Change:</div>
                                        <div class="col-6 "><div class="float-right">{{stock.change.toFixed(2)}}</div></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 ">Current Price:</div>
                                        <div class="col-6 "><div class="float-right">{{searchResults[i].c.toFixed(2)}}</div></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 ">Market Value:</div>
                                        <div class="col-6 "><div class="float-right">{{stock.mv.toFixed(2)}}</div></div>
                                    </div>
                                </div>
                            
                            
                            <div *ngIf="stock.change > 0">
                                    <div class="row">
                                        <div class="col-6 ">Change:</div>
                                        <div class="col-6 "><div class="float-right text-success">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                              </svg>
                                              {{stock.change.toFixed(2)}}</div></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 ">Current Price:</div>
                                        <div class="col-6 "><div class="float-right text-success">{{searchResults[i].c.toFixed(2)}}</div></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 ">Market Value:</div>
                                        <div class="col-6 "><div class="float-right text-success">{{stock.mv.toFixed(2)}}</div></div>
                                    </div>
                                </div>
                            
                            <div *ngIf="stock.change < 0">
                                
                                    <div class="row">
                                        <div class="col-6 ">Change:</div>
                                        <div class="col-6 "><div class="float-right text-danger">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                              </svg>
                                            {{stock.change.toFixed(2)}}</div></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 ">Current Price:</div>
                                        <div class="col-6 "><div class="float-right text-danger">{{searchResults[i].c.toFixed(2)}}</div></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 ">Market Value:</div>
                                        <div class="col-6 "><div class="float-right text-danger">{{stock.mv.toFixed(2)}}</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="card-footer text-right">
                        <button class="btn btn-primary" (click)=buy(stock.ticker,stock.stockname,searchResults[i].c,stock.quantity,currentMoney)>Buy</button>
                        <button class="btn btn-danger ms-2" (click)=sell(stock.ticker,stock.stockname,searchResults[i].c,stock.quantity,currentMoney)>Sell</button>
                        </div>
                    </div>
                </div>
                <div class="container mt-4 p-0" *ngIf="emptyPortfolio">
                    <div class="row">
                        <div class="alert alert-warning text-dark text-center" role="alert">
                            Currently you don't have any stock.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>