<div class="container"> 
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-10">
            <h1 class="watchlist-header">My Watchlist</h1>
            <div class="container mt-5 d-flex justify-content-center" *ngIf="loadingIndicator">
                <mat-spinner diameter="40"></mat-spinner>
            </div>
            <div class="container mt-4" *ngIf="!loadingIndicator">
                <div class="row" *ngFor="let stock of wishlistStocks; let i=index">
                    <div class="col-10 mb-2">
                        <div class="card shadow-none">
                            <button type="button" class="btn-close justify-content-center mt-2 ms-2 pt-1" aria-label="Close" (click)="deleteFromWishlist(stock.ticker)">
                            </button>
                            <div class="card-body pt-1">
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <h1 class="m-0 fw-semibold">{{stock.ticker}}</h1>
                                        </div>
                                        <div class="row">
                                            <h3 class="m-0 font-weight-normal text-thicker">{{stock.stockName}}</h3>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div *ngIf="searchResults[i].d > 0" style="color: green">
                                            <div class="row">
                                                <h1 class="m-0 font-weight-normal text-thicker increase">{{searchResults[i].c}}</h1>
                                            </div>
                                            <div class="row">
                                                <h3 class="m-0 font-weight-normal text-thicker increase">▲ {{searchResults[i].d}} ({{searchResults[i].dp | number:'1.2-2'}}%)</h3>
                                            </div>
                                        </div>
                                        <div *ngIf="searchResults[i].d <= 0" style="color: red">
                                            <div class="row">
                                                <h1 class="m-0 font-weight-normal text-thicker increase">{{searchResults[i].c}}</h1>
                                            </div>
                                            <div class="row">
                                                <h3 class="m-0 font-weight-normal text-thicker increase">▼ {{searchResults[i].d}} ({{searchResults[i].dp | number:'1.2-2'}}%)</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-4 p-0" *ngIf="emptyWatchlist">
                    <div class="row">
                        <div class="alert alert-warning text-dark text-center" role="alert">
                            Currently you don't have any stock in your watchlist.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>