<div class="modal-header p-3 fw-semibold">
    <h2 class="m-0">{{ ticker }}</h2>
    <button type="button" class="close-button" aria-label="Close" (click)="close()">
        <i class="fa-solid fa-xmark fa-2xs" id="close-icon"></i>
    </button>
</div>
<div class="modal-body p-4 fw-semibold">
    Current Price: {{currentPrice}}
    <br>
    Money in Wallet: ${{ currentMoney | number:'1.2-2' }}
    <br>
    <div class="row align-items-center">
        <div class="col-auto">
            Quantity:
        </div>
        <div class="col">
            <input type="number" class="form-control quantity-input" (ngModelChange)="quantityChange($event)" [(ngModel)]="tradeQuantity" min="0">
        </div>
    </div>
    <span *ngIf="isNotEnoughMoney && buy" class="text-danger text-thicker">Not enough money in wallet!</span>
    <span *ngIf="isNotEnoughStockHolding && !buy" class="text-danger text-thicker">You cannot sell the stocks that you don't have!</span>
</div>
<div class="modal-footer p-2 fw-semibold">
    <div>Total: {{ totalCost | number:'1.2-2' }}</div>
    <button 
      type="button" 
      class="btn btn-success" 
      [disabled]="tradeQuantity === 0 || isNotEnoughMoney" 
      (click)="onTradeClick()"
      *ngIf="buy">Buy</button>
    <button 
      type="button" 
      class="btn btn-danger" 
      [disabled]="tradeQuantity === 0 || isNotEnoughStockHolding" 
      (click)="onTradeClick()"
      *ngIf="!buy">Sell</button>
  </div>
  